<section class="intro">
  <div class="container">
    <p class="lead">Hello, Homosapein! I'm Naveen. Welcome to my tiny
    little space on the web :) </p>
    <p class="lead">I do stuffs with computers and sometimes write
    about it here. And when the philosopher in me kicks in, I pen down
    my abstract thoughts on various subjects in the world that confuses me. I also like to write about various life lessons that I learn and sometimes use this place to brag about myself :P  </p>
  </div>
</section>
